/WebBackend/.idea
/WebBackend/__pycache__
/WebBackend/.git
/WebBackend/.gitlab-ci.yml
/WebBackend/.venv
/WebBackend/references/*
/WebBackend/deployment.template.yaml
/WebBackend/uploads/*
/WebBackend/Dockerfile

/WebFrontend/node_modules
/WebFrontend/deployment.template.yaml
/WebFrontend/Dockerfile
/WebFrontend/.git
/WebFrontend/.env
