appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
blinker==1.8.1
click==8.1.7
docstring-to-markdown==0.15
et-xmlfile==1.1.0
Flask==3.0.3
Flask-Cors==4.0.1
fonttools==4.25.0
hpack==4.0.0
inflection==0.5.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonpointer==2.1
MarkupSafe==2.1.5
munkres==1.1.4
mysql-connector-python==8.0.31
numpy==1.26.4
openpyxl==3.0.10
pandas==2.2.2
parso==0.8.4
patsy==0.5.3
pluggy==1.5.0
ply==3.11
protobuf==4.21.12
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.4
PyQtWebEngine-Qt5==5.15.2
pysam==0.22.1
python-dateutil==2.9.0.post0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.11.0
pytz==2024.1
six==1.16.0
tzdata==2024.1
ujson==5.9.0
webencodings==0.5.1
Werkzeug==3.0.3
